In [18]:
#1. Прочитайте csv файл (метод read_csv)
import numpy as np
import pandas as pd

df = pd.read_csv('bestsellers with categories.csv',  delimiter=',', encoding='latin1')
df

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [19]:
#2. Виведіть перші 10 рядків (метод head)
dfnew = df.head(10)
print (dfnew)

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

In [14]:
#3. Виведіть розміри датасету (метод shape)
num_rows, num_columns = df.shape
print(f"Кількість рядків: {num_rows}, Кількість стовпчиків: {num_columns}")
print(f"Даний датасет зберігає інформацію про {num_rows} книг")

Кількість рядків: 550, Кількість стовпчиків: 7

In [22]:
#4. Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.
df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']
df.columns = df.columns.str.replace(' ', '_')    
df

,name,author,user_rating,reviews,price,year,genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction
...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,9413,8,2019,Fiction
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2016,Non Fiction
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2017,Non Fiction
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2018,Non Fiction
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,14331,8,2019,Non Fiction

In [23]:
#5. Вивести кількість пропусків у кожному стовпчику.
missing_values = df.isnull().sum()

# Визначити, чи є пропуски в будь-якому зі стовпців
has_missing_values = missing_values.any()

print("Кількість пропусків у кожному стовпчику:")
print(missing_values)

if has_missing_values:
    print("Чи є пропуски в будь-якому зі стовпців: Так")
else:
    print("Чи є пропуски в будь-якому зі стовпців: Ні")

Кількість пропусків у кожному стовпчику:
name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64
Чи є пропуски в будь-якому зі стовпців: Ні

In [24]:
#6. За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці.
print("Кількість унікальних країн: ", len(df['genre'].unique()))
print("Кількість унікальних країн: ", df['genre'].unique())

Кількість унікальних країн:  2
Кількість унікальних країн:  ['Non Fiction' 'Fiction']

In [29]:
#7. Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median
high_price = df["price"].max()
min_price = df["price"].min()
mean_price = df["price"].mean()
median_price = df["price"].median()

print("Максимальна ціна: ", high_price , "usd")
print("Мінімальна ціна: ", min_price , "usd")
print("Середня ціна: ", mean_price , "usd")
print("Медіанна ціна: ", median_price , "usd")

Максимальна ціна:  105 usd
Мінімальна ціна:  0 usd
Середня ціна:  13.1 usd
Медіанна ціна:  11.0 usd

In [50]:
#8. Виконайте наступні завдання з пошуку і сортування даних:
#8.1 Питання: Який рейтинг у датасеті найвищий? 
#8.2 Питання: Скільки книг мають такий рейтинг? 
#8.3 Питання: Яка книга має найбільше відгуків? 
#8.4 Питання: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ?
#8.5 Питання : Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році 
#8.6 Питання : Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)? 

#8.1
max_rate = df['user_rating'].max()
print("Найвищий рейтинг: ", max_rate)

#8.2
max_rate =  len(df[df["user_rating"] == max_rate])
print("Найвищий рейтинг усього у:", max_rate, "книг")

#8.3
max_review = df[df["reviews"] == df["reviews"].max()]
print('Книга "', max_review["name"].values[0], '" має найбільшу кількість відгуків.')

#8.4
df_2010_top =  df[df['year'] == 2010].max()
print("Найдорожча книга 2010 року:")
df_2010_top

#8.5
df_2012_num = df[df['genre'] == 'Fiction']
print("Кількість книг 2012 року жанру Fiction становить:", df_2012_num.shape[0])

#8.6
count_df=df.isin({'user_rating': [4.9], 'year': [2010, 2011]})
sum = 0

for i in range(0, count_df.shape[0]):
    for j in range(0, count_df.shape[1]):
        
        if count_df.iat[i, j] == True:
            sum = sum + 1
print(
    "Кількість книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках становить: ",
    sum,
)

Найвищий рейтинг:  4.9
Найвищий рейтинг усього у: 52 книг
Книга " Where the Crawdads Sing " має найбільшу кількість відгуків.
Найдорожча книга 2010 року:
Кількість книг 2012 року жанру Fiction становить: 240
Кількість книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках становить:  152

In [53]:
#9. Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg,
#для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.

df_NonFiction = df[df["genre"] != "Fiction"]

df_Fiction = df[df["genre"] == "Fiction"]

min_NonFiction = df_NonFiction.groupby('price').min().reset_index()
print("Мінімальна ціна жанру NonFiction:", min_NonFiction.iat[0,0])

min_Fiction = df_Fiction.groupby('price').min().reset_index()
print("Мінімальна ціна жанру Fiction:", min_Fiction.iat[0,0])

max_NonFiction = df_NonFiction.groupby('price').max().reset_index()
print("Максимальна ціна жанру NonFiction:", min_NonFiction.iat[len(min_Fiction)-1,0])

max_Fiction = df_Fiction.groupby('price').max().reset_index()
print("Максимальна ціна жанру Fiction:", max_Fiction.iat[len(max_Fiction)-1,0])

Мінімальна ціна жанру NonFiction: 0
Мінімальна ціна жанру Fiction: 0
Мінімальна ціна жанру NonFiction: 28
Максимальна ціна жанру Fiction: 82